<div class="banner">
  <p class="display-4 font-bold ">Įvairiais kiekiais tiesiai iš karjero vežame: <br><strong>Žvyras, Smėlis, Skalda, Juodžemis, Atsijos ir t.t.

  </p></strong>
</div>
<h1 class="display-1 text-center" style="font-size: 50px;">Savivarčių nuoma</h1>
<div class="card-deck">
  <div class="card">
    <p>Keturąšiai</p>
    <img src="https://skelbiu-img.dgn.lt/1_18_2988763981/zvyras-smelis-juodzemis-skalda.jpg"  class="card-img-top" alt="...">
  </div>
  <div class="card">
    <p>Triąšiai</p>
    <img src="https://skelbiu-img.dgn.lt/1_18_2917418439/zvyras-smelis-juodzemis-skalda.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <p>Vilkikai su puspriekabiem</p>
    <img src="https://skelbiu-img.dgn.lt/1_18_3046305403/zvyras-smelis-juodzemis-skalda.jpg" class="card-img-top" alt="...">
  </div>
</div>


<h1 class="display-1 text-center" style="font-size: 50px;">Parduodama ir pristatoma produkcija</h1>
<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "zvyrasb.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Žvyras betonavimui (gamtinis)</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "zvyrass.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Žvyras sijotas fr 0-4 grindu betonavimui</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "kelinis.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Žvyras kelinis (Ašas 0-32,0-22)</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "smelis.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Smėlį</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "maltasb.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Maltas betonas</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "atsijos.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Atsijos fr 0-5</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "juodzemis.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Juodžemį vejos sodinimui,sijota be grumslu</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "gruntasslypam.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Gruntas slypu iskelimui</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "smelis.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Kumuso juodžemis</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "smelis.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Juodžemis su durpėm (šiltnamiams)</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "zvirgzskald.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Žvirgždo skalda frakcijos 4/16,16/32,0/32,0/45</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "dolomito.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Dolomito skalda frakcijos 0/45,0/32 trinkeliu pagrindui</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "smelis.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Žvirgžda frakcijos 16/32,4/16</h2>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><%= image_tag "granito.jpg" %></div>
        <div class="card_content">
          <h2 class="card_title">Granito skalda</h2>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="cc">
  <h1>Produkcija pristatome visoje žemaitijoje</h1>
  <h1>Klaipėda, Kretinga, Palanga, Plungė, Neringa ir t.t.</h1>
</div>

